* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Poppins', sans-serif;
    letter-spacing: .1rem;
}

h1 {
    font-size: 4rem;
    text-align: center;
    letter-spacing: .1rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 2rem;
}
p {
    font-size: 1.5rem;
}

li {
    font-weight: 500;
    font-size: 2rem;
}

.instructions {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: black;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 200;
}

.instructions.display-none {
    position: fixed;
    opacity: 0;
    width: 100%;
    height: 100vh;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: -10;
}

@keyframes fadeIn {
    to{
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeInContainer {
    to{
        opacity: 1;
    }
}

.fade-in-container {
    opacity: 0;
    animation: fadeInContainer 1s ease-in forwards;
    animation-delay: 10s;
}

.instructions h2, h3, p, ul, button {
    margin: 20px;
    list-style-type: none;
}

.container {
    height: 100vh;
    margin: 0 15%;
    background: linear-gradient(25deg, rgba(4,88,89,1) 0%, rgba(196,137,11,1) 80%);
    box-shadow: 5px 5px 21px 10px rgba(0,0,0,0.82);
    font-weight: 600;
    background-blend-mode: multiply;
}

.selections {
    display: flex;
    justify-content: center;
}

.selection {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 4rem;
    transition: 100ms;
    margin: 2rem 4rem;
}

.selection:hover {
    transform: scale(1.2)
}

.results {
    margin-top: 1rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.results-title {
    font-size: 3rem;
}

.results-score {
    margin-left: .1rem;
    font-size: 3rem;
    color: #333;
}

.result-selection {
    opacity: .5;
    font-size: 2rem;
}

.result-selection.winner {
    opacity: 1;
    font-size: 2.5rem;
}